<footer class="footer">

    <div class="container">

        <div class="row g-4">

            <div class="col-12 col-md-4">

                <h5>Atendimento</h5>

                <p><i class="bi bi-telephone"></i>(21) 99999-9999</p>

                <p><i class="bi bi-envelope"></i>contato@alugatabuleiro.com</p>

                <p><i class="bi bi-clock"></i>Seg - Sex: 09h às 18h</p>

            </div>


            <div class="col-12 col-md-4">

                <h5>Institucional</h5>

                <ul>

                    <li><a href="#">Sobre nós</a></li>

                    <li><a href="#">Como funciona</a></li>

                    <li><a href="politicadealuguel.html">Política de aluguel</a></li>

                    

                </ul>

            </div>


            <div class="col-12 col-md-4">

                <h5>Redes sociais</h5>

                <div class="social">

                    <a href="https://www.instagram.com/"><i class="bi bi-instagram"></i></a>

                    <a href="https://www.facebook.com/?locale=pt_BR"><i class="bi bi-facebook"></i></a>

                    <a href="https://wa.me/21999999999"><i class="bi bi-whatsapp"></i></a>

                </div>

            </div>

        </div>

    </div>

    <div class="footer-bottom">

        <p>© 2026 AlugaTabuleiro – Projeto acadêmico</p>

    </div>

</footer>