<header class="fixed-top">

    <!-- 🔵 BARRA DE ACESSIBILIDADE -->
    <div class="barra-acessibilidade">
        <div class="container d-flex justify-content-end align-items-center gap-3">

            <div class="d-flex align-items-center gap-2">
                <i class="bi bi-universal-access"></i>
                <span>Acessibilidade |</span>
            </div>


            <button class="btn-dark">🌙</button>
            <button class="btn-diminuir">A-</button>
            <button class="btn-normal">A</button>
            <button class="btn-aumentar">A+</button>

        </div>
    </div>

    <!-- 🟡 NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
        <div class="container-fluid">

            <a class="navbar-brand ms-0" href="index.html">
                <img src="img/logo.png" class="logo">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse menu-expandido" id="menu">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="index.html">Início</a></li>
                    <li class="nav-item"><a class="nav-link" href="sobreempresa.html">Sobre a empresa</a></li>
                    <li class="nav-item"><a class="nav-link" href="catalogo.html">Catálogo</a></li>
                    <li class="nav-item"><a class="nav-link" href="atendimento.html">Atendimento</a></li>
                </ul>

                <div class="acoes-header">

                    <a href="#" class="btn-carrinho" data-bs-toggle="offcanvas" data-bs-target="#carrinhoLateral">
                        <i class="bi bi-cart3"></i>
                        <span id="contador-carrinho">0</span>
                    </a>

                    <!-- aparece quando NÃO estiver logado -->
                    <a href="login.html" class="btn-login" id="btnLogin">Login</a>

                    <!-- aparece quando estiver logado -->
                    <a href="painel_user.html" class="btn-login" id="btnPainel"
                        style="display: none; font-size: 15px; padding: 6px 12px;">
                        Meu Painel
                    </a>

                    <!-- nome do usuário -->
                    <span id="nomeUsuario" style="display: none; font-weight: 600;"></span>




                </div>
            </div>

        </div>
    </nav>

    <!--Modal  CARRINHO -->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="carrinhoLateral">

        <div class="offcanvas-header">
            <h5 class="offcanvas-title">Seu Carrinho</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
        </div>

        <div class="offcanvas-body d-flex flex-column">

            <ul id="lista-carrinho" class="list-group mb-3"></ul>

            <p id="carrinho-vazio" class="text-center mt-3">
                Seu carrinho está vazio 🛒
            </p>

            <h5 class="mt-auto">Total: R$ <span id="total">0.00</span></h5>

            <button class="btn-finalizar w-100 mt-2" onclick="irParaFinalizarCompra() ">
                Finalizar Compra
            </button>
        </div>
    </div>

</header>