<header class="fixed-top">

    <!-- 🔵 BARRA DE ACESSIBILIDADE -->
    <div class="barra-acessibilidade">
        <div class="container d-flex justify-content-end align-items-center gap-3">

            <div class="d-flex align-items-center gap-2">
                <i class="bi bi-universal-access"></i>
                <span>Acessibilidade |</span>
            </div>


            <button class="btn-dark">🌙</button>
            <button class="btn-diminuir">A-</button>
            <button class="btn-normal">A</button>
            <button class="btn-aumentar">A+</button>

        </div>
    </div>

    <!-- 🟡 NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
        <div class="container-fluid">

            <a class="navbar-brand ms-0" href="index.html">
                <img src="img/logo.png" class="logo">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse menu-expandido" id="menu">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="index.html">Início</a></li>
                    <li class="nav-item"><a class="nav-link" href="sobre.html">Sobre a empresa</a></li>
                    <li class="nav-item"><a class="nav-link" href="catalogo.html">Catálogo</a></li>
                    <li class="nav-item"><a class="nav-link" href="atendimento.html">Atendimento</a></li>
                </ul>

                <div class="acoes-header">
                    
                    <a href="#" class="btn-carrinho" data-bs-toggle="offcanvas" data-bs-target="#carrinhoLateral">
                        <i class="bi bi-cart3"></i>
                        <span id="contador-carrinho">0</span>
                    </a>

                    <a href="login.html" class="btn-login">Login</a>
                </div>
            </div>

        </div>
    </nav>

</header>