body{
    padding-top: 225px;
    background-color: #f5f5f5;
}

/* WhatsApp - verde */
.whatsapp i {
    color: #25D366;
    cursor: pointer;
}

/* Email - roxo */
.email i {
    color: #6f42c1;
}

/* Telefone - azul */
.telefone-card i {
    color: #0d6efd;
}

/* Efeito hover com cor combinando */
.card:nth-child(1):hover {
    border-bottom: 4px solid #d86d26;
    cursor: pointer;
}

/*.card:nth-child(2):hover {
    border-bottom: 4px solid #6f42c1;
}

.card:nth-child(3):hover {
    border-bottom: 4px solid #0d6efd;
}





