   :root {
       --amarelo: #f7d12a;
       --amarelo-claro: #E1C78C;
       --laranja: #d86d26;
       --laranja-hover: #ff8a3d;
       --marrom-claro: #947f58;
       --marrom: #494130;
   }

   * {
       margin: 0;
       padding: 0;
       border: 0;
       box-sizing: border-box;
   }

   /* HEADER */

   .navbar {
       background: #fffff3;
       padding: 15px 30px;

   }

   /* Logo */
   .logo {
       height: 130px;
       width: 300px;
       margin-right: 20px;
   }

   /* Menu  */
   .navbar-nav {
       margin: 0;
       gap: 30px;
   }

   /* Nav links */
   .nav-link {
       font-size: 1.125rem;
       font-weight: 600;
       color: var(--marrom);

   }

   .nav-link:hover {
       color: var(--laranja);
   }

   /* Botões à direita */
   .acoes-header {
       display: flex;
       gap: 20px;
       align-items: center;
   }

   /* Botão carrinho */
   .btn-carrinho {
       color: #7A6949;
       padding: 8px 14px;
       border-radius: 6px;
       text-decoration: none;
       display: flex;
       align-items: center;
       justify-content: center;
   }

   .btn-carrinho i {
       font-size: 1.25rem;
   }

   /* Botão login */
   .btn-login {
       background-color: var(--laranja);
       color: white;
       padding: 8px 18px;
       border-radius: 6px;
       font-weight: 600;
       font-size: 1.125rem;
       text-decoration: none;
   }

   /* Hover carrinho */
   .btn-carrinho:hover {
       background-color: var(--laranja);
       color: white;
   }

   /* Hover  login*/

   .btn-login:hover {
       background-color: var(--laranja-hover);
       color: white;
   }

   body.menu-aberto {
       overflow: hidden;
   }





   /*acessibilidade*/


   .barra-acessibilidade {
       background-color: white;
       padding: 5px 0;
       padding-left: 120px;
       font-size: 0.875rem;
       border-bottom: 1px solid #f2f3ec;
   }

   .barra-acessibilidade button {
       border: none;
       background: transparent;
       cursor: pointer;
       font-weight: bold;
   }

   .barra-acessibilidade button:hover {
       color: #DB6516;
   }









   /* DARK MODE */



   .dark-mode header,
   .dark-mode header * {
       color: #ffffff !important;
   }

   /*  BARRA ACESSIBILIDADE */
   .dark-mode .barra-acessibilidade {
       background-color: #1e1e1e !important;
       border-bottom: 1px solid #333;
   }

   /* 🟡 NAVBAR */
   .dark-mode .navbar {
       background-color: #1e1e1e !important;
   }

   /* BOTÕES */
   .dark-mode .btn-login {
       background-color: #d86d26;
       color: white !important;
   }

   .dark-mode .btn-login:hover {
       background-color: #ff8a3d;
   }

   .dark-mode .btn-carrinho:hover {
       background-color: #d86d26;
   }

   /* BOTÕES ACESSIBILIDADE */
   .dark-mode .barra-acessibilidade button {
       border: 1px solid #444;
   }

   .dark-mode .barra-acessibilidade button:hover {
       background-color: #d86d26;
   }

   /* MENU MOBILE */
   .dark-mode .navbar-toggler {
       filter: invert(1);
   }














   







   @media (max-width: 991px) {

       .menu-expandido {

           padding-bottom: 140px;
       }

       .navbar-nav {
           padding-top: 60px;
           flex-direction: column;
           gap: 20px;
           align-items: center;
           text-align: center;
       }

       .acoes-header {
           padding-top: 50px;
           flex-direction: row;
           justify-content: center;
           gap: 15px;
           margin-top: 20px;
       }

   }